html {
  
}

body {
  background-color: black;
  margin-left: 22rem;
  margin-right: 22rem;
}

header {
  background-color: black;
}

nav {
  background-color: gray;
  padding: .5rem;
}

nav a {
  color: rebeccapurple;
  padding-left: 4%;
  padding-right: 4%;
}

h1 {
  color: white;
  padding-left: 1rem;
  padding-top: 3rem;
  margin-bottom: .5rem;
}

h3 {
  text-align: center;
}

h4 {
  color: grey;
  padding-left: 1rem;
  margin-top: 2px;
}

a {
  color: red;
  text-decoration: underline;
}

section {
  height: 30rem;
}

address {
  float: left;
  padding-left: 1rem;
  color: white;
  font-style: normal;
  margin-top: 1rem;
  width: 95%;
}

.ft {
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 10px;
}

.hd {
  background-color: black;
}

.rt {
  float: right;
}

.main {
  width: 55%;
  float: left;
  padding: 1rem;
}

.clear {
  clear: both;
}

.rt-col {
  width: 33%;
  float: right;
  padding: .5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border-style: solid;
  border-color: black;
  border-width: medium;
}

.rt-col img {
  width: 200px;
  height: 120px;
  padding-left: 1rem;
}

.rt-col h3 {
  padding-top: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.rt-col-sec {
  padding: 1px;
  margin-bottom: .5rem;
}

.img-cap {
  width: 100px;
  font-size: small;
  float: left;
}

aside p {
  font-style: italic;
}

article {
  background-color: white;
  color: black;

}

p {
  color: black;
}
